* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

ul, li {
  list-style: none; }

form {
  display: block; }

header {
  padding: 54px 150px 0;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto; }
  header a {
    color: #fff; }
    header a:hover {
      text-decoration: none; }
  header::before {
    content: '';
    position: absolute;
    left: -80px;
    top: -200px;
    background-image: linear-gradient(184deg, #0072ff, #00c6ff);
    width: 895.1px;
    height: 766.8px;
    transform: rotate(45deg);
    border-radius: 100px;
    z-index: -10; }
  header::after {
    content: '';
    position: absolute;
    right: 0px;
    top: -100px;
    width: 900px;
    height: 750px;
    background-image: url(../img/banners/rectangle-9-copy@3x.png);
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: contain;
    border-radius: 100px;
    z-index: -9; }

.main-section {
  padding: 0;
  margin: 0; }

.main-section {
  background-image: linear-gradient(182deg, #0575e6, #00c6ff);
  background-size: 50vw 100vh;
  background-repeat: no-repeat;
  height: 100vh;
  color: #4a4a4a; }

.sub-section {
  padding: 50px; }

.nav
.col-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 4px;
  padding-right: 100px;
  padding-left: 48px; }

.row-right {
  display: flex;
  padding-right: 30px;
  padding-left: 30px; }

.main-page {
  margin-top: 100px;
  background-color: #f5f5f5;
  padding-left: 150px;
  padding-right: 150px; }

.main-page--alt {
  padding: 0; }
  .main-page--alt .page-body {
    padding-top: 0; }

.page-header {
  padding-top: 32px;
  padding-bottom: 50px;
  color: #4a4a4a;
  font-size: 14px;
  display: flex;
  justify-content: space-between; }
  .page-header--alt {
    padding-top: 27px;
    padding-bottom: 37px;
    padding-left: 150px;
    padding-right: 150px; }
  .page-header h3 {
    text-transform: uppercase; }

.page__actions {
  color: #0575e6; }
  .page__actions a {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 4px; }
    .page__actions a:hover {
      text-decoration: none;
      color: inherit;
      opacity: 0.7; }
    .page__actions a img {
      padding: 0 0 4px 6px; }

.page__actions--foot a {
  padding: 0; }

.page-body {
  background-color: #fff;
  padding-top: 80px;
  padding-left: 54px;
  padding-right: 54px;
  padding-bottom: 200px;
  color: #4a4a4a; }

.page-body--alt {
  padding-left: 0;
  padding-right: 0; }

.page-body__head {
  display: flex;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px; }

.page-body__main {
  padding-top: 69px; }

.page-body__main--alt {
  background-color: #eee;
  padding-top: 48px;
  padding-bottom: 70px; }
  .page-body__main--alt .nav {
    background-color: #fff;
    padding-top: 37px;
    padding-left: 150px;
    padding-right: 150px; }
    .page-body__main--alt .nav a {
      font-size: 17px;
      color: #9b9b9b;
      padding-bottom: 20px;
      margin-left: 30px;
      margin-right: 30px; }
      .page-body__main--alt .nav a.active {
        display: block;
        font-size: 20px;
        padding-top: 5px;
        color: #4a4a4a;
        border-bottom: 2px solid #0575e6;
        font-weight: 500; }
      .page-body__main--alt .nav a:first-child {
        padding-left: 0; }

.page-meta span {
  font-size: 14px;
  color: #9b9b9b; }

.student-detail {
  padding-top: 30px;
  padding-bottom: 54px;
  border-bottom: 1px solid #ebebf2; }

.summary {
  margin-top: 54px;
  font-size: 1.4rem;
  color: #9b9b9b; }
  .summary .summary__title {
    font-weight: 500;
    padding-bottom: 24px; }
  .summary .page-meta {
    padding-bottom: 8px;
    border-bottom: 1px solid #ebebf2; }

.summary__list-item {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ebebf2; }

.desc p {
  font-size: 14px;
  font-weight: normal; }

.summary__total {
  padding-top: 40px; }
  .summary__total h3 {
    color: #4a4a4a; }
  .summary__total h5 {
    padding-top: 5px;
    padding-right: 76px; }

.page-foot {
  margin-top: 83px;
  padding-bottom: 200px; }

.grid {
  width: 100%;
  padding: 100px 150px 50px;
  color: #fff; }

.grid-column-side {
  width: 50%; }

.grid-column--right {
  float: right;
  color: #526173; }

.hero-text {
  padding-top: 24px;
  font-size: 17px; }

.features {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-top: 100px; }
  .features h4 {
    display: flex;
    justify-content: flex-end;
    margin-right: 85px; }

.features__body {
  padding-top: 40px;
  display: flex;
  flex-direction: row; }

.features__item {
  padding: 30px; }

.features__item-icon {
  padding-bottom: 40px; }

.features__item-body {
  font-size: 14px; }

.features__item-title {
  text-align: center; }

.features__item-body {
  text-align: center; }

.svg {
  display: inline-block; }

.svg--support {
  background-image: url(../img/icons/support.png);
  height: 100px;
  width: 100px;
  background-size: 50%;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center; }

.svg--fast {
  background-image: url(../img/icons/fast.png);
  height: 100px;
  width: 100px;
  background-size: 50%;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center; }

.svg--secured {
  background-image: url(../img/icons/secured-2.png);
  height: 100px;
  width: 100px;
  background-size: 50%;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center; }

.page-header__title--alt {
  display: flex;
  flex-direction: row; }
  .page-header__title--alt h5 {
    text-transform: uppercase;
    font-weight: normal; }
  .page-header__title--alt h6 {
    font-weight: normal;
    padding: .1em 1.5em; }

.payment-details {
  padding-top: 71px;
  padding-bottom: 79px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #9b9b9b; }

.payment-details__student {
  display: flex;
  flex-direction: row;
  flex: 2.5; }
  .payment-details__student .student__body {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 19px;
    padding-right: 15px;
    border-right: 2px solid #ebebf2;
    flex: 1; }
    .payment-details__student .student__body h5 {
      color: #4a4a4a; }

.payment-details__school {
  padding: 19px 15px 0px;
  flex: 1;
  padding-left: 40px; }
  .payment-details__school h5 {
    color: #4a4a4a; }

.img-student {
  width: 250px;
  height: auto;
  border-radius: 50%; }

.btn-default {
  border-radius: 25px;
  background-color: white;
  font-size: 16px;
  color: #fff;
  height: 40px; }

.btn-blue {
  background-color: #0575e6;
  padding: 7px 30px; }

.btn-white {
  background-color: #fff;
  color: #0575e6;
  padding: 3px 30px;
  margin-left: 40px;
  border: 1px solid #2f80ed; }
  .btn-white:hover {
    color: #fff;
    background-color: #0575e6;
    cursor: pointer;
    border: 1px solid #fff; }

.btn:hover {
  cursor: pointer;
  opacity: 0.9; }

input[type='text'] {
  border-radius: 30px;
  border: 0.5px solid #b3b3b3;
  height: 50px;
  width: 488px;
  margin-bottom: 40px;
  padding-top: 15px;
  padding-bottom: 15px; }
  input[type='text']::placeholder {
    color: #e5e5e5;
    font-size: 17px; }

.flex-form {
  margin-top: 240px; }
  .flex-form .btn {
    text-transform: uppercase;
    font-size: 14px; }
  .flex-form a {
    font-size: 10px;
    padding: 5px; }

.flex-form--landing {
  margin-top: 0;
  padding-top: 35px; }
  .flex-form--landing input[type='text'] {
    position: relative;
    border: none; }

.addon--send {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 50px;
  background: #fff;
  border: none;
  position: relative; }
  .addon--send:after {
    content: '';
    position: absolute;
    background: url(../img/icons/enter-icon.png) 100% no-repeat;
    background-size: contain;
    height: 35px;
    width: 35px;
    right: 8px; }
  .addon--send:hover {
    cursor: pointer; }
  .addon--send:focus {
    outline: none; }
  .addon--send:active {
    padding-bottom: 3px; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

ul, li {
  list-style: none; }

form {
  display: block; }

header {
  padding: 54px 150px 0;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto; }
  header a {
    color: #fff; }
    header a:hover {
      text-decoration: none; }
  header::before {
    content: '';
    position: absolute;
    left: -80px;
    top: -200px;
    background-image: linear-gradient(184deg, #0072ff, #00c6ff);
    width: 895.1px;
    height: 766.8px;
    transform: rotate(45deg);
    border-radius: 100px;
    z-index: -10; }
  header::after {
    content: '';
    position: absolute;
    right: 0px;
    top: -100px;
    width: 900px;
    height: 750px;
    background-image: url(../img/banners/rectangle-9-copy@3x.png);
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: contain;
    border-radius: 100px;
    z-index: -9; }

.main-section {
  padding: 0;
  margin: 0; }

.main-section {
  background-image: linear-gradient(182deg, #0575e6, #00c6ff);
  background-size: 50vw 100vh;
  background-repeat: no-repeat;
  height: 100vh;
  color: #4a4a4a; }

.sub-section {
  padding: 50px; }

.nav
.col-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 4px;
  padding-right: 100px;
  padding-left: 48px; }

.row-right {
  display: flex;
  padding-right: 30px;
  padding-left: 30px; }

.main-page {
  margin-top: 100px;
  background-color: #f5f5f5;
  padding-left: 150px;
  padding-right: 150px; }

.main-page--alt {
  padding: 0; }
  .main-page--alt .page-body {
    padding-top: 0; }

.page-header {
  padding-top: 32px;
  padding-bottom: 50px;
  color: #4a4a4a;
  font-size: 14px;
  display: flex;
  justify-content: space-between; }
  .page-header--alt {
    padding-top: 27px;
    padding-bottom: 37px;
    padding-left: 150px;
    padding-right: 150px; }
  .page-header h3 {
    text-transform: uppercase; }

.page__actions {
  color: #0575e6; }
  .page__actions a {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 4px; }
    .page__actions a:hover {
      text-decoration: none;
      color: inherit;
      opacity: 0.7; }
    .page__actions a img {
      padding: 0 0 4px 6px; }

.page__actions--foot a {
  padding: 0; }

.page-body {
  background-color: #fff;
  padding-top: 80px;
  padding-left: 54px;
  padding-right: 54px;
  padding-bottom: 200px;
  color: #4a4a4a; }

.page-body--alt {
  padding-left: 0;
  padding-right: 0; }

.page-body__head {
  display: flex;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px; }

.page-body__main {
  padding-top: 69px; }

.page-body__main--alt {
  background-color: #eee;
  padding-top: 48px;
  padding-bottom: 70px; }
  .page-body__main--alt .nav {
    background-color: #fff;
    padding-top: 37px;
    padding-left: 150px;
    padding-right: 150px; }
    .page-body__main--alt .nav a {
      font-size: 17px;
      color: #9b9b9b;
      padding-bottom: 20px;
      margin-left: 30px;
      margin-right: 30px; }
      .page-body__main--alt .nav a.active {
        display: block;
        font-size: 20px;
        padding-top: 5px;
        color: #4a4a4a;
        border-bottom: 2px solid #0575e6;
        font-weight: 500; }
      .page-body__main--alt .nav a:first-child {
        padding-left: 0; }

.page-meta span {
  font-size: 14px;
  color: #9b9b9b; }

.student-detail {
  padding-top: 30px;
  padding-bottom: 54px;
  border-bottom: 1px solid #ebebf2; }

.summary {
  margin-top: 54px;
  font-size: 1.4rem;
  color: #9b9b9b; }
  .summary .summary__title {
    font-weight: 500;
    padding-bottom: 24px; }
  .summary .page-meta {
    padding-bottom: 8px;
    border-bottom: 1px solid #ebebf2; }

.summary__list-item {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ebebf2; }

.desc p {
  font-size: 14px;
  font-weight: normal; }

.summary__total {
  padding-top: 40px; }
  .summary__total h3 {
    color: #4a4a4a; }
  .summary__total h5 {
    padding-top: 5px;
    padding-right: 76px; }

.page-foot {
  margin-top: 83px;
  padding-bottom: 200px; }

.grid {
  width: 100%;
  padding: 100px 150px 50px;
  color: #fff; }

.grid-column-side {
  width: 50%; }

.grid-column--right {
  float: right;
  color: #526173; }

.hero-text {
  padding-top: 24px;
  font-size: 17px; }

.features {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-top: 100px; }
  .features h4 {
    display: flex;
    justify-content: flex-end;
    margin-right: 85px; }

.features__body {
  padding-top: 40px;
  display: flex;
  flex-direction: row; }

.features__item {
  padding: 30px; }

.features__item-icon {
  padding-bottom: 40px; }

.features__item-body {
  font-size: 14px; }

.features__item-title {
  text-align: center; }

.features__item-body {
  text-align: center; }

.svg {
  display: inline-block; }

.svg--support {
  background-image: url(../img/icons/support.png);
  height: 100px;
  width: 100px;
  background-size: 50%;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center; }

.svg--fast {
  background-image: url(../img/icons/fast.png);
  height: 100px;
  width: 100px;
  background-size: 50%;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center; }

.svg--secured {
  background-image: url(../img/icons/secured-2.png);
  height: 100px;
  width: 100px;
  background-size: 50%;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center; }

.page-header__title--alt {
  display: flex;
  flex-direction: row; }
  .page-header__title--alt h5 {
    text-transform: uppercase;
    font-weight: normal; }
  .page-header__title--alt h6 {
    font-weight: normal;
    padding: .1em 1.5em; }

.payment-details {
  padding-top: 71px;
  padding-bottom: 79px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #9b9b9b; }

.payment-details__student {
  display: flex;
  flex-direction: row;
  flex: 2.5; }
  .payment-details__student .student__body {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 19px;
    padding-right: 15px;
    border-right: 2px solid #ebebf2;
    flex: 1; }
    .payment-details__student .student__body h5 {
      color: #4a4a4a; }

.payment-details__school {
  padding: 19px 15px 0px;
  flex: 1;
  padding-left: 40px; }
  .payment-details__school h5 {
    color: #4a4a4a; }

.img-student {
  width: 250px;
  height: auto;
  border-radius: 50%; }

.btn-default {
  border-radius: 25px;
  background-color: white;
  font-size: 16px;
  color: #fff;
  height: 40px; }

.btn-blue {
  background-color: #0575e6;
  padding: 7px 30px; }

.btn-white {
  background-color: #fff;
  color: #0575e6;
  padding: 3px 30px;
  margin-left: 40px;
  border: 1px solid #2f80ed; }
  .btn-white:hover {
    color: #fff;
    background-color: #0575e6;
    cursor: pointer;
    border: 1px solid #fff; }

.btn:hover {
  cursor: pointer;
  opacity: 0.9; }

input[type='text'] {
  border-radius: 30px;
  border: 0.5px solid #b3b3b3;
  height: 50px;
  width: 488px;
  margin-bottom: 40px;
  padding-top: 15px;
  padding-bottom: 15px; }
  input[type='text']::placeholder {
    color: #e5e5e5;
    font-size: 17px; }

.flex-form {
  margin-top: 240px; }
  .flex-form .btn {
    text-transform: uppercase;
    font-size: 14px; }
  .flex-form a {
    font-size: 10px;
    padding: 5px; }

.flex-form--landing {
  margin-top: 0;
  padding-top: 35px; }
  .flex-form--landing input[type='text'] {
    position: relative;
    border: none; }

.addon--send {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 50px;
  background: #fff;
  border: none;
  position: relative; }
  .addon--send:after {
    content: '';
    position: absolute;
    background: url(../img/icons/enter-icon.png) 100% no-repeat;
    background-size: contain;
    height: 35px;
    width: 35px;
    right: 8px; }
  .addon--send:hover {
    cursor: pointer; }
  .addon--send:focus {
    outline: none; }
  .addon--send:active {
    padding-bottom: 3px; }

.padding-top--40 {
  padding-top: 40px; }

.flex-end {
  display: flex;
  justify-content: flex-end; }

.flex-btw {
  display: flex;
  justify-content: space-between; }
  .flex-btw .nav-link:not(:last-of-type) {
    padding-right: 1.5rem !important; }
