.btn-default {
  border-radius: 25px;
  background-color: white;
  font-size: $font-size;
  color: #fff;
  height: 40px;
}

.btn-blue {
  background-color: $brand-blue;
  padding: 7px 30px;
}
.btn-white {
  background-color: #fff;
  color: $brand-blue;
  padding: 3px 30px;
  margin-left: 40px;
  border: 1px solid #2f80ed;
  &:hover {
    color: #fff;
    background-color: $brand-blue;
    cursor: pointer;
    border: 1px solid #fff;
  }
}

.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}
