input[type='text'] {
  border-radius: $radius;
  border: 0.5px solid $form-border;
  height: 50px;
  width: 488px;
  margin-bottom: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  &::placeholder {
    color: #e5e5e5;
    font-size: 17px;
  }
}

.flex-form {
  margin-top: 240px;
  .btn {
    text-transform: uppercase;
    font-size: 14px;
  }
  a {
    font-size: 10px;
    padding: 5px;
  }
}

.flex-form--landing {
  margin-top: 0;
  padding-top: 35px;
  input[type='text'] {
    position: relative;
    border: none;
  }
}
.addon--send {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 50px;
  background: #fff;
  border: none;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    background: url(../img/icons/enter-icon.png) 100% no-repeat;
    // background-repeat: no-repeat;
    background-size: contain;
    height: 35px;
    width: 35px;
    right: 8px;
  }
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  &:active {
    padding-bottom: 3px;
  }
}

// .send {
//   content: '';
//   position: absolute;
//   background-image: url(assets/img/icon/enter-icon.png);
//   background-repeat: no-repeat;
//   height: 40px;
//   width: 44px;
//   right: 0;
// }
