.padding-top--40 {
  padding-top: 40px;
}
.flex-end {
  display: flex;
  justify-content: flex-end;

}
.flex-btw {
  display: flex;
  justify-content: space-between;
  .nav-link:not(:last-of-type) {
    padding-right: 1.5rem!important;
  }
}
