.main-section {
  padding: 0;
  margin: 0;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.main-section {
  background-image: linear-gradient( 182deg, $brand-blue, $brand-light-blue);
  background-size: 50vw 100vh;
  background-repeat: no-repeat;
  height: 100vh;
  color: $font-grey;
}

.sub-section {
  padding: 50px;
}
.nav
.col-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 4px;
  padding-right: 100px;
  padding-left: 48px;
}

.row-right {
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
}
.main-page {
  margin-top: 100px;
  background-color: $bg-grey;
  padding-left: 150px;
  padding-right: 150px;
}
.page-header {
  padding-top: 32px;
  padding-bottom: 50px;
  color: $font-grey;
  font-size: 14px;
  display: flex;
  justify-content: space-between;

  h3 {
    text-transform: uppercase;
  }
}

.page__actions {
  color: $brand-blue;
  a {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 4px;
    &:hover {
      text-decoration: none;
      color: inherit;
      opacity: 0.7;
    }
    img {
      padding: 0 0 4px 6px;
    }
  }
}

.page__actions--foot {
  a {
    padding: 0;
  }
}

.page-body {
  background-color: $bg-color;
  padding-top: 80px;
  padding-left: 54px;
  padding-right: 54px;
  padding-bottom: 200px;
  color: $font-grey;
}
.flex-btw {
  display: flex;
  justify-content: space-between;
}
.page-body__head {
  display: flex;
  justify-content: space-between;
}
.page-body__main {
  padding-top: 69px;
}
.page-meta {
  span {
    font-size: 14px;
    color: #9b9b9b;
  }
}
.student-detail {
  padding-top: 30px;
  padding-bottom: 54px;
  border-bottom: $page-border-b;
}
.summary {
  margin-top: 54px;
  font-size: 1.4rem;
  color: #9b9b9b;
  .summary__title {
    font-weight: 500;
    padding-bottom: 24px;
  }
  .page-meta {
    padding-bottom: 8px;
    border-bottom: $page-border-b;
  }
}
.summary__list-item {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: $page-border-b;
}
.desc {
  p {
    font-size: 14px;
    font-weight: normal;
  }
}
.amount {

}
.summary__total {
  padding-top: 40px;
  h3 {
    color: $font-grey;
  }
  h5 {
    padding-top: 5px;
    padding-right: 76px;
  }
}

.page-foot {
  margin-top: 83px;
  padding-bottom: 200px;
}
.grid {
  width: 100%;
  padding: 100px 150px 50px;
  color: #fff;
}
.grid-column-side {
  width: 50%;
}
.grid-column--right {
  float: right;
  color: #526173;
}
.hero-text {
  padding-top: 24px;
  font-size: 17px;
}

.features {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-top: 100px;
  h4 {
    display: flex;
    justify-content: flex-end;
    margin-right: 85px;
  }
}
.features__body {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
}
.features__item {
  padding: 30px;
}
.features__item-icon {
  padding-bottom: 40px;
}
.features__item-body {
  font-size: 14px;
}
.features__item-title {
  text-align: center;
}
.features__item-body {
  text-align: center;
}
.svg {
  display: inline-block;
}
.svg--support {
  background-image: url(../img/icons/support.png);
  height: 100px;
  width: 100px;
  background-size: 50%;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.svg--fast {
  background-image: url(../img/icons/fast.png);
  height: 100px;
  width: 100px;
  background-size: 50%;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.svg--secured {
  background-image: url(../img/icons/secured-2.png);
  height: 100px;
  width: 100px;
  background-size: 50%;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
}
