// Colors
$brand-blue: #0575e6;
$brand-light-blue: #00c6ff;
$light-grey: #e5e5e5;
$bg-color: #fff;
$radius: 30px;

// Fonts //
$fonts: 'Montserrat';
$font-size: 16px;


// Buttons //
$btn-height: 20px;
$btn-border: solid 0.5px $brand-blue;
$btn-main: $brand-blue;
$btn-border-radius: 25px;

// Forms //
$form-border: #ebebf2;
